alpaca==1.0.0
httpx==0.26.0
newsapi_python==0.2.7
pydantic==2.5.3
PyYAML==5.4.1
PyYAML==6.0.1
ratelimit==2.2.1
readabilipy==0.2.0
Requests==2.31.0
rich==13.7.0
tinydb==4.8.0
tqdm==4.66.1
vaderSentiment==3.3.2
vaderSentiment==3.3.2
